@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html,
body {
    width: 350px;
    height: 500px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: "Inter", sans-serif;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
    overflow-x: hidden;
}

*,
::before,
::after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    display: none;
}

/* display extension in a nice window in full window mode */
@media (min-width: 351px) {
    html,
    body {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.75rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
}
